<p>
  <b>Name</b>
  <%= @bestellung.name %>
</p>

<p>
  <b>Speise</b>
  <%= @bestellung.speise %>
</p>

<p>
  <b>Preis</b>
  <%= @bestellung.preis %>
</p>

<p>
  <b>Comment</b>
  <%= @bestellung.comment %>
</p>


<%= link_to 'Back', auftrags_path, :class => "btn btn-mini " %>
