
<div id="header">
  <% if flash[:alert] %>
      <p id="alert">
        <%= flash[:alert] %>
      </p>
  <% end %>

</div>
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :vorname %><br />
      <%= f.text_field :vorname %>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
