
<div id="header">
  <% if flash[:alert] %>
      <p id="alert">
        <%= flash[:alert] %>
      </p>
  <% end %>

</div>
<%= form_for(@bestellung) do |f| %>
  <div class="field">
    <%= f.label "SpeiseNr/Name" %><br />
    <%= f.text_field :speise %>
  </div>
  <div class="field">
    <%= f.label :preis %><br />
    <%= f.number_field :preis %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Bestellung erstellen"%>
  </div>
<% end %>
