  <p>
    <b>Name</b>
    <%= @bestellung.name %>
  </p>

  <p>
    <b>Speise</b>
    <%= @bestellung.speise %>
  </p>

  <p>
    <b>Preis</b>
    <%= @bestellung.preis %>
  </p>

  <p>
    <b>Comment</b>
    <%= @bestellung.comment %>
  </p>
  <p>
    <b>Erstellt am:</b>
    <%= @bestellung.updated_at.to_date %>
  </p>


  <%= link_to 'zur Gruppe',  bestellungs_path, :class => "btn btn-small " %>
     <% if can? :edit, @bestellung %>
    <%= link_to 'Edit', edit_bestellung_path(@bestellung), :class => "btn btn-small btn-info " %>
  <%end%>
