  <p>
    <b>Name</b>
    <%= @auftrag.name %>
  </p>

  <p>
    <b>Speise</b>
    <%= @auftrag.speise %>
  </p>

  <p>
    <b>Preis</b>
    <%= @auftrag.preis %>
  </p>

  <p>
    <b>Comment</b>
    <%= @auftrag.comment %>
  </p>


  <%= link_to 'zur Bestellung',  auftrags_path, :class => "btn btn-small " %>
     <% if can? :edit, @auftrag %>
    <%= link_to 'Edit', edit_auftrag_path(@auftrag), :class => "btn btn-small btn-info " %>
  <%end%>
